@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@700&display=swap');


:root{
    /* ### Theme 2 */

    /* #### Backgrounds */
    /* (main background) */
    --Light-gray: hsl(0, 0%, 90%);
    /* (toggle background, keypad background) */
    --Grayish-red: hsl(0, 5%, 81%);
    /* (screen background) */
    --Very-light-gray : hsl(0, 0%, 93%);

    /* #### Keys */
    /* (key background) */
    --Dark-moderate-cyan: hsl(185, 42%, 37%);
    /* (key shadow) */
    --Very-dark-cyan: hsl(185, 58%, 25%);
    /* (key background, toggle) */
    --Orange: hsl(25, 98%, 40%);
    /* (key shadow) */
    --Dark-orange: hsl(25, 99%, 27%);
    /* (key background) */
    --Key-bg: hsl(45, 7%, 89%);
    /* (key shadow) */
    --Key-shadow: hsl(35, 11%, 61%);

    /* #### Text */
    --Gray-text: hsl(60, 10%, 19%);
    /* (text) */
    --White: hsl(0, 0%, 100%);
}

body{
    font-size: 32px;
    background: var(--Light-gray);
    font-family: 'League Spartan', sans-serif;
}

main{
    height: 97vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#theme-label-container{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 440px;
    font-size: 10.5px;
    color: var(--Gray-text);
    margin-bottom: -30px;
}

#theme-label{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

label{
    width: 35px;
    padding:5px 3px 10px 5px;
    letter-spacing: 7.3pt;
    margin-right: 2pt;
}

h1{
    font-size: 24px;
}

#header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 440px;
    height: 70px;
    color: var(--Gray-text);
}
input[type=range]:hover{
    cursor: pointer;
}

#header>input[type=range]{
    height: 10px;
    width: 40px;
    appearance: none;
    outline: none;
    border: none;
    background: var(--Grayish-red);
    border-radius: 50px;   
    padding: 4px;
    margin: 0;
}

input[type=range]::-webkit-slider-thumb{
    -webkit-appearance: none;
    height: 12px;
    width: 12px;
    border-radius: 50px;
    background: #ffffff;
    cursor: pointer;
    background-color:var(--Orange);
}
input[type=range]::-webkit-slider-thumb:hover{
    filter: brightness(170%);
}

input[type=range]::-moz-range-thumb{
    -webkit-appearance: none;
    height: 12px;
    width: 12px;
    border-radius: 50px;
    background: #ffffff;
    cursor: pointer;
    background-color:var(--Orange);
}

input[type=range]::-ms-thumb{
    -webkit-appearance: none;
    height: 12px;
    width: 12px;
    border-radius: 50px;
    background: #ffffff;
    cursor: pointer;
    background-color:var(--Orange);
}


#header>p{
    margin-right: -280px;
    font-size: 7.5pt;
    text-transform: uppercase;
}

#result{
    font-family: 'League Spartan', sans-serif;
    height: 100px;
    width: 390px;
    padding:0 25px;
    border: 0;
    border-radius: 10px;
    background: var(--Very-light-gray);
    color: var(--Gray-text);
    font-size: 42px;
    text-align: right;
}

#container{
    display: grid;
    grid-template-columns: repeat(4,21.5%);
    grid-template-rows: repeat(5,1fr);
    gap: 20px;
    padding: 20px;
    margin:20px auto;
    width: 400px;
    height: 350px;
    border-radius: 10px;
    background: var(--Grayish-red);
    color: var(--Gray-text);
}

button{
    font-family: 'League Spartan', sans-serif;
    font-weight: bold;
    font-size: 32px;
    background: var(--Key-bg);  
    color: var(--Gray-text);
    text-align: center;
    border-radius: 10px;
    border: solid var(--Key-shadow);
    border-width: 0 0 3px 0;
    padding-top: 7px;
}
button:hover{
    background: hsl(45, 7%, 100%);
    cursor: pointer;
}

#btn{
    background: var(--Dark-moderate-cyan);  
    border-radius: 10px;
    border: solid var(--Very-dark-cyan);
    border-width: 0 0 3px 0;
    color: var(--White);
    font-size: 24px;
}
#btn:hover{
    background: hsl(185, 42%, 55%);
}

#reset{
    grid-row: 5;
    grid-column: 1/3;
    background: var(--Dark-moderate-cyan);  
    border-radius: 10px;
    border: solid var(--Very-dark-cyan);
    border-width: 0 0 3px 0;
    color: var(--White);
    font-size: 24px;
}
#reset:hover{
    background: hsl(185, 42%, 55%);
}

#equals{
    grid-row: 5;
    grid-column: 3/5;
    background: var(--Orange);  
    border-radius: 10px;
    border: solid var(--Dark-orange);
    border-width: 0 0 3px 0;
    color: var(--White);
    font-size: 24px;
}
#equals:hover{
    background: hsl(25, 98%, 60%);
}


.attribution {
    font-size: 11px;
    text-align: center;
    margin-top: 30px;
}

.attribution a {
    color: var(--Dark-moderate-cyan);
}

@media screen and (max-width:550px) {
    #theme-label-container{
        width: 310px;
    }
    #header{
        width: 310px;
    }
    #header>p{
        margin-right: -165px;
    }
    #result{
        width: 260px;
    }
    #container{
        width: 270px;
        gap: 13px;
    }
    button{
        border-radius: 5px;
    }
     #btn, #reset, #equals{
        border-radius: 5px;
        font-size: 19px;
    }
}